.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: cadetblue;
}
.quiz-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.result-container{
    display: none;
}
.qa-container{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding-left: 120px;
    width: 300px;
    height: 100px;
}
.question{
    color: brown;
    font-weight: bold;
}
.answers{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 900px;
}